
.canvas {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(20, 30px);
  margin: 0px 5px;
  
}
* {
  margin-top: 0%;
}
.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2%;
  padding:1%;
  overflow: wrap;
}
.tab {
  margin-top: 0%;
 
  background-color: #34495e;
} 
.btnlabel {
  font-size: medium;
  color: whitesmoke;
  padding-top: 2%;
 
  

}
button {
  
  margin: 1%;
  margin-left: 0px;
  min-height: 30px;
  background-color:#34495e;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  color: white;
 
  border: 0px;
}
label:hover{
  color:#00ffcc;
}
.tabbtn::after {
  content: '';
  width: 80%;
  border-radius: 4px;
  
  background-color: azure;
  position: absolute;
  height : 2px;
  transform: scaleX(0);
  bottom: 0px;
  left: 12px;
  transition: transform 0.2s;
  transform-origin: left;
  transition-timing-function: linear;

}
.tabbtn:hover:after {
  content: '';
  width: 80%;
  
  background-color: azure;
  position: absolute;
  height : 3px;
  transform: scaleX(1);
  bottom: 0px;
  left: 12px;
}
.mbtn {
  margin: 2%;
  color: white;
  font-weight: 600;
  padding-top:8px;
  border-radius: 5px;
  border: none;
  background-color: #49cab0;
  font-size: medium;
  
}
.cell {
  border: 1px;
  border-style: solid;
  border-color: turquoise;
  animation-duration: 2s;
  text-align: center;
  
  
}

.wall {
  
 
  animation-name: wallanimation;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
.space {
  background-color: white;
}
@keyframes wallanimation {
  1% {background-color: black;
     transform: scale(0.10);
    

     border-color: black;
    }
    70% {transform : scale(1.1) ;
      background-color: black;
      transition-timing-function: linear;
      border-color: black;}

    
  
     
  
  100% {transform : scale (1.0) ;
    background-color: black;
    transition-timing-function: linear;
    border-color: black;}
}
.starter {

  text-align: center;
 
}

.test {
  min-height: 100px;
}
 .visited , .weightvisit{
  
  animation-name: visitedanimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
  animation-timing-function: linear;
  transition-property: transform, border-radius, background-color;
}
@keyframes visitedanimation {
  5% {background-color: yellow;
     transform: scale(0.4);
    border-radius: 100%;
     border-color: yellow;
    
    }
  11% {
    background-color: #4664a5;
     transform: scale(0.5);
     border-radius: 40%;
   
     border-color: #4664a5;
  }
 
  50% {transform : scale(1);
    background-color: #4d8ee3;
  
   
    border-radius: 8%;
    border-radius: 30%;

    border-color: #40cee3;}


  
   
        75% {transform : scale(1.15);
          background-color: #00ffcc;
          border-radius: 20%;
       
        
    
          border-color: #00ffcc;}
  
  
    100% { 
            background-color: #40cee3;
           
        
            transform: scale(1.0);
            /* background-color: pink; */
           
            border-radius: 0%;
      
    border-color: white;}
    
}
.path, .weightpath {
  background-color: yellow;
  border-color: yellow;
  
  
}
.path:hover{
  transform: scale(1.2);
  
  border: 2px solid white;
}
.starter:hover{
  transform: scale(1.2);
  
  border: 2px solid turquoise;
}
.end:hover{
  transform: scale(1.2);
  
  border: 2px solid turquoise;
}
h2 {
  color: whitesmoke;
  margin-left: 2%;
  padding-top: 1%;
  margin-bottom: 0px;
}
.tutorial {
 
position: absolute;
 
  top: 20%;
  background-color: white;
  border-color: #0E8388;
  border: 2px;
  border-style: solid;
  min-width: 50%;
  height: 70%;
  left: 25%;
  right: 25%;
  border-radius: 5px;
 
}
.tuthead {
  display: flex;
  text-align: center;
  color: #2B3467;
  display:block;
}
.tutorial > p {
 display: block;
 text-align: center;
 margin-right: 10%;
 margin-top: 10%;
 margin-left: 10%;

color:#2B3467;
line-height: 130%;

}


.btn1{
  position: relative;
  left: 1rem;
}
.btn2 {
  position: relative;

right: 0rem;
  
}
.btn3 {
  position: relative;
  
  right:0rem;
 
}
.tutbtn{
  display: flex;
}
.tutbtn> * {
  
  top:5rem;
  margin: 2%;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  background-color: #EB455F;
  
  
}
.pageno {
  text-align: right;
  margin:1%;
}
.tutorial > h3 {
  text-align: center;
}
